{
    "vcf" : {
        "class" : "File",
        "path" : "</full/file/path>"     # Required file; replace '</full/file/path>' with full path to input VCF [e.g., /my/path/to/input.vcf]
    },
    "output_name" : null               # Optional string: replace 'null' with output file name; 'null' defaults to 'sorted.vcf'
}
